.moving-fish {
    position: absolute;
    transition: top 2s ease, left 2s ease, transform 0.5s ease;
    overflow: visible; /* 크기 제한 방지 */
    max-width: none;
    max-height: none;
}

.moving-fish img {
   max-width: none !important; /* 기존 제한을 무효화 */
    max-height: none !important;
    pointer-events: none; /* Prevent mouse interactions */
}
